@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans&display=swap');

*{
  margin: 0;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 1024px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}


.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.mb-1{
  margin-bottom: 10px;
}

.mb-2{
  margin-bottom: 20px;
}

.w-100{
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width:390px){
  .App{
    min-height: 844px !important;
  }
}